<template>
    <div>
        <h1>Things I need to do</h1>
        <li v-for="item in sheets">
            {{item.description}} – 
            <button v-on:click="completeItem(item)" class="btn btn-link">
                Completed
            </button>
        </li>
        <form>
            <div class="row">
                <div class="col-xs-6">
                    <input v-model="newItemDescription" class="form-control"
                     placeholder="Another thing...">
                </div>
                <button v-on:click="addItem($event)" class="btn btn-primary">
                    Add
                </button>
            </div>
        </form>
    </div>
</template>
<script src="./sheets.ts"></script>